<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{title}}</a>
        <div class="navbar-nav flex-nav">
            <a class="nav-link" [ngClass]="{'active': currentUrl === '/'}" aria-current="page" (click)="navigate('')">Home</a>
            <a class="nav-link" [ngClass]="{'active': currentUrl === '/House'}" (click)="navigate('House')">House</a>
            <a class="nav-link" [ngClass]="{'active': currentUrl === '/Senate'}" (click)="navigate('Senate')">Senate</a>
        </div>
    </div>
</nav>
<div class="p-4">
    <router-outlet></router-outlet>
</div>